#header-contact, #header-info{
    border:1px solid rgb(24, 124, 255);
    border-radius: 8px;
    padding: 5px;
}
#header-contact:hover{
    color:white;
    background-color: rgb(24, 124, 255);
    padding: 5px;
    border-radius: 8px;
}

#header-info:hover{
    color:white;
    background-color: rgb(24, 124, 255);
    padding: 5px;
    border-radius: 8px;
}