header {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    transition: background-color 0.5s ease, box-shadow 0.5s ease, backdrop-filter 0.5s ease;
    z-index: 2;
}
@media (prefers-color-scheme: light) {
    .header:hover{
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
    }
}

@media (prefers-color-scheme: dark) {
    .header:hover{
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
    }
}