#header-wrapper {
}

#header-title {

}

#header-contact, #header-info, #header-menu {

}

#header-buttons {
    text-align: right;
}

@media (min-width: 436px) {
    #header-menu {
        display: none;
    }
}

@media (max-width: 436px) {
    #header-contact, #header-info {
        display: none;
    }
}