.turnstile-widget-wrapper{
    position: absolute;
    text-align: center;
    top: 32%;
    left: 23%;
    width: 50%;
    padding: 30px;
    border-radius: 8px;
}

.turnstile-widget-wrapper-commworks{
    position: absolute;
    text-align: center;
    top: 1000%;
    left: 23%;
    width: 50%;
    padding: 30px;
    border-radius: 8px;
}

@media (max-width: 436px) {
    .turnstile-widget-wrapper{
        top: 35%;
        width: 75%;
        padding: 2.5%;
        left: 10%;
    }
    .turnstile-widget-wrapper-commworks{
        top: 1000%;
        width: 75%;
        padding: 2.5%;
        left: 10%;
    }
}