.turnstile-widget{
    position: absolute;
    text-align: center;
    top: 25%;
    left: 25%;
    width: 50%;
    padding: 30px;
    border-radius: 8px;
}

@media (max-width: 436px) {
    .turnstile-widget{
        top: 35%;
        width: 75%;
        padding: 2.5%;
        left: 10%;
    }
}