#home-button{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    margin-top:52%;
    margin-left:90%;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform ease 0.3s;
}

#home-button:hover{
    transform: scale(1.2);
}

#home-icon{
    width: 60px;
    height: 60px;
}

@media (max-width: 436px) {
    #home-button{
        margin-top:154%;
        margin-left:83%;
        width: 30px;
        height: 30px;
    }
    #home-icon{
        width: 30px;
        height: 30px;
    }
}