.contact-page-wrapper{
    width: 100%;
    height: 100vh;
    position: sticky;
    inset: 0;
    overflow-x: auto;
}
.contact-button-wrapper{
    margin-top: 3%;
    margin-left: 25%;
    width: 50%;
}
@media (prefers-color-scheme: light) {
    .contact-page-wrapper{
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .contact-button{
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .contact-button-close{
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
    }
}
@media (prefers-color-scheme: dark) {
    .contact-page-wrapper{
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .contact-button{
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .contact-button-close{
        background: rgba(0, 0, 0, 0.09);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
    }
}

.contact-button{
    user-select: none;
    padding: 3px;
    height: auto;
    width: 100%;
    margin-bottom: 2vh;
    text-align: center;
    border-radius: 8px;
    transition: transform ease 0.3s;
    height: auto;
}
.contact-button:hover{
    transform: scale(1.03);
}

@media (max-width: 436px) {
    .contact-button-wrapper{
        margin-left: 0;
        margin-top: 5%;
    }
    .contact-button{
        padding: 3px;
        width: 62vw;
        margin-left: 35.3%;
        margin-top: 15%;
    }
}

.contact-button-icon{
    width: 3.3rem;
    height: 3.3rem;
    vertical-align: -10px;
    cursor: pointer;
}
@media (max-width: 436px) {
    .contact-button-icon{
        width: 2rem;
        height: 2rem;
        vertical-align: -4px;
    }
}
#email-addr-link:hover{
    color:#18F0FF;
}