.contact-page-wrapper{
    width: 100%;
    height: 100vh;
    position: sticky;
    inset: 0;
    overflow-x: auto;
}
.contact-button-wrapper{
    margin-top: 5%;
    margin-left: 34.6%;
}
@media (prefers-color-scheme: light) {
    .contact-page-wrapper{
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
    }
    .contact-button{
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .contact-button-close{
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
    }
}
@media (prefers-color-scheme: dark) {
    .contact-page-wrapper{
        background: rgba(0, 0, 0, 0.09);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
    }
    .contact-button{
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .contact-button-close{
        background: rgba(0, 0, 0, 0.09);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
    }
}

.contact-button{
    user-select: none;
    padding: 3px;
    height: 30px;
    width: 33vw;
    margin-bottom: 2vh;
    text-align: center;
    border-radius: 8px;
    transition: transform ease 0.3s;
    height: auto;
}

@media (max-width: 436px) {
    .contact-button-wrapper{
        margin-left: 0;
    }
    .contact-button{
        padding: 3px;
        width: 80vw;
        margin-left: 10%;
    }

    .contact-button-icon{
        width: 2rem;
        height: 2rem;
    }
}

.contact-button:hover{
    transform: scale(1.03);
}

.contact-button-close{
    user-select: none;
    padding: 13px;
    height: 30px;
    width: 10vw;
    margin-bottom: 2vh;
    margin-left: 11vw;
    text-align: center;
    border-radius: 8px;
    transition: transform ease 0.3s;
    height: auto;
    cursor: pointer;
}
.contact-button-close:hover{
    transform: scale(1.03);
}
.contact-button-icon{
    width: 3rem;
    height: 3rem;
    margin-right: 0.8rem;
    vertical-align: -13px;
    cursor: pointer;
}
#email-addr-link:hover{
    color:#18F0FF;
}
#contact-icon-close{
    position: sticky;
    top:10vh;
    left:15vw;
    z-index: 1;
}