.card-wrapper {
    display: inline-block;
    width: 40%;
    height: 25vh;
    border-radius: 13px;
    box-sizing: border-box;
    transition: border ease 0.5s;
    transition: transform ease 0.3s;
}

.card-wrapper:hover{
    cursor: pointer;
    transform: scale(1.03);
    z-index: 1;
}

@media (max-width: 521px) {
    .card-title{
        margin-left: 5%;
    }
}

@media (max-width: 521px) {
    .card-wrapper{
        display: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        height: 25vh;
        transition: transform ease 0.5s;

    }
}