#wcif-card{
    background-image: url('../../../resources/images/bg-images/vertical/freepik-capybara-vertical.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}